.logo-img{
    cursor: pointer;
}

.head-line{
    margin: 2em;
}
.head-line svg{
    width: 430px;
}

.nav-button{
    border: 0;
    outline: 0;
    background-color: white;
}
#search-input{
    display: none;
}
#search-button{
    display: none;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto; /* 세로 스크롤바 추가 */
    max-height: 100vh; /* 화면 높이보다 크면 스크롤바 표시 */
}
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}
.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-link
{
    padding-top: 0.5em;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}
.menu-link:hover
{
    cursor : pointer;
    text-decoration: underline;
    transform: scale(1.3);
}
.menu-item{
    padding-left: 1em;
}
.menu-link i
{
    transition: transform 0.3s ease;
}
.menu-link i:hover
{
    cursor : pointer;
    transform: scale(1.3);
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media screen and (max-width:480px) {
    .menu-item{
        display: none;
    }
    .head-line svg{
        width: 350px;
    }
}
.blue{
    color: blue;
}

.title{
    text-align: start;
}

.title a{
    text-decoration: none;
    color: black;
}

.article-text{
    text-align: start;
}
.nonvisible{
    display: none;
}